div(ng-controller='AchievementController as achievementCtrl')
  .container
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.container-light
      .corners.corner-top
      .corners.corner-bottom
      .achievement
        .col-md-5.col-sm-6
          .achievement-icon-container
            .radial-progress
              .circle
                .mask.full
                  .fill
                .mask.half
                  .fill
                  .fill.fix
            img.achievement-bg(ng-src='assets/images/hex_achievement@2x.png', height="180")
            img.achievement-icon(ng-src="{{achievement.imageUrl}}", height="80")
            .achievements-count(tooltip, title="{{achievement.unlockCount}} of {{achievement.usersCount}} users have this achievement") {{achievement.percent}}%

        .col-md-7.col-sm-6
          .achievement-info
            h3
              {{achievement.name}}
            span.description
              {{achievement.description}}
