.userDetails(ng-controller='UserController as userCtrl')
  .userHeader
    img.userPhoto(ng-src="{{user.photoUrl}}")
    {{user.name}}
  .achievement.unlocked(ng-repeat='achievement in user.achieved')
    .achievementImage
      img(ng-src="{{achievement.imageUrl}}")
    .achievementDetails
      {{achievement.name}}
      br
      span.description
        {{achievement.description}}
    .clearfix
  .divider
  .achievement.locked(ng-repeat='achievement in user.unachieved', ng-click="grantAchievement(achievement._id)")
    .achievementImage
      img(ng-src="{{achievement.imageUrl}}")
    .achievementDetails
      {{achievement.name}}
      br
      span.description
        {{achievement.description}}
    .clearfix
