div(ng-controller='UserController as userCtrl')
  .container#popup-container
    .popup.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.container-light(ng-controller="PopupController")
      .close(onclick="$('#popup-container').fadeOut(300);") &#10006;
      .achievement
        .col-md-5.col-sm-6
          a.achievement-icon-container(ui-sref="achievement({ id: achievement.uid })")
            .radial-progress
              .circle
                .mask.full
                  .fill
                .mask.half
                  .fill
                  .fill.fix
            img.achievement-bg(ng-src='assets/images/hex_achievement@2x.png', height="180")
            img.achievement-icon(ng-src="{{achievement.imageUrl}}", height="80")
            .achievements-count(tooltip, title="{{achievement.unlockCount}} of {{achievement.usersCount}} users have this achievement") {{achievement.percent}}%
          .social(ng-if="achievement.grantedBy")
            | Share: 
            a.fa.fa-facebook-square(href="http://facebook.com/sharer.php?u={{mountPoint}}/achievements/{{achievement._id}}/social?redirectUrl={{mountPoint}}/#/share/{{achievement.template}}/{{user._id}}", target="_blank")
            a.fa.fa-twitter-square(href="http://twitter.com/intent/tweet?text={{achievement.name}}&{{mountPoint}}/achievements/{{achievement._id}}/social?redirectUrl={{mountPoint}}/#/share/{{achievement.template}}/{{user._id}}", target="_blank")
            a.fa.fa-linkedin-square(href="http://www.linkedin.com/shareArticle?mini=true&url={{mountPoint}}/achievements/{{achievement._id}}/social?redirectUrl={{mountPoint}}/#/share/{{achievement.template}}/{{user._id}}&title={{achievement.name}}", target="_blank")
            a.fa.fa-google-plus-square(href="https://plus.google.com/share?url={{mountPoint}}/achievements/{{achievement._id}}/social?redirectUrl={{mountPoint}}/#/share/{{achievement.template}}/{{user._id}}", target="_blank")
            a.fa.fa-external-link-square(href="{{mountPoint}}/achievements/{{achievement._id}}/social?redirectUrl={{mountPoint}}/#/share/{{achievement.template}}/{{user._id}}")
            
        .col-md-7.col-sm-6
          .achievement-info
            h3
              {{achievement.name}}
            span.description
              {{achievement.description}}
            div(ng-if="!achievement.grantedBy")
              a.grant-achievement(ng-click="grantAchievement(achievement._id)") Grant Achievement
            div(ng-if="achievement.grantedBy")
              br
              br
              .granted  
                | Granted 
                span(ng-if="achievement.grantedBy[0].photoUrl")
                  | by: 
                  a.user-small(tooltip, ui-sref="user({ id: achievement.grantedBy[0]._id })",title="{{achievement.grantedBy[0].name}}")
                    img.user-small-bg(src='assets/images/hex_small_profile@2x.png', width='52')
                    img.user-photo(ng-src='{{achievement.grantedBy[0].photoUrl}}', width='61', alt="{{achievement.grantedBy[0].name}}")
                | @ 
                strong {{achievement.createdAt | limitTo: 10}}


  .container
    
    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.container-dark
      .corners.corner-top
      .corners.corner-bottom
      .col-md-3
        .profile
          .profile-image-container(xxx)
            img.profile-image(ng-src="{{user.photoUrl}}", height="180")
            img.profile-image-mask(src='assets/images/hex_profile@2x.png', height="180")
          .title {{user.name}}

      .col-md-9
        .title Achievements
        .achievements-list(honeycomb)
          a.achievement-small.achievement-small-dark(ng-repeat='achievement in achievements',
                                                     ng-click="showAchievementPopup(achievement)", 
                                                     title="{{achievement.name}}",
                                                     ng-class="achievement.grantedBy ? 'enabled' : ''",
                                                     tooltip)
            img.achievement-small-dark-bg(src='assets/images/hex_small_achievement@2x.png', width='52')
            img.icon(ng-src="{{achievement.imageUrl}}", width='30', alt="{{achievement.name}}")

  
