doctype html
//if lt IE 7
  html(class="no-js lt-ie9 lt-ie8 lt-ie7", lang="en")
//if IE 7
  html(class="no-js lt-ie9 lt-ie8", lang="en")
//if IE 8
  html(class="no-js lt-ie9", lang="en")
// [if gt IE 8] <!
html(class="no-js")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title u2i is gamified

    link(rel="icon" type="image/png", sizes="96x96", href="assets/img/favicon-96x96.png")
    link(rel='stylesheet', href='assets/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='assets/css/circle.css')
    link(rel='stylesheet', href='assets/css/main.css')
    link(href='//fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        
    script(type='text/javascript', src='assets/vendor/angular/angular.js')
    script(type='text/javascript', src='assets/vendor/ui-router/release/angular-ui-router.js')
    script(type='text/javascript', src='assets/vendor/jquery/dist/jquery.js')
    script(type='text/javascript', src='assets/vendor/bootstrap/dist/js/bootstrap.js')
    script(type='text/javascript', src='assets/js/main.js')
          
  body(ng-app='perficioApp')
    .container
      .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.pos-rel
        #feedback
          h2 We love feedback!
          p If you found a bug, have an idea or simply want to give as a kudos checkout 
            a(href="#") this discourse topic.
            br 
            | There's also a Slack group.
          h4 Thanks! 
          .close &#10006;
    header
      .wrapper
        h1.logo
          a(href='{{mountPoint}}/#/users')
            img(alt='u2i is gamified', height="60", src='/assets/images/perficio_logo.png') 
            | Perficio
        nav
          //- a(href='{{mountPoint}}/#/stream') Live stream
          a(href='{{mountPoint}}/#/users') Users
          //- a(href='{{mountPoint}}/#/achievements') Achievements
          a#feedback-trigger(href='#') Feedback
    main(ui-view='')
    footer
      .wrapper
        .social-media
          a(href='https://www.facebook.com/u2iKRK')
            img(height='50', src='http://www.u2i.com/images/fb-icon-4a2759e3.png')
          a(href='https://twitter.com/u2iKRK')
            img(height='50', src='http://www.u2i.com/images/tw-icon-3a3d10b0.png')
          a(rel='publisher', href='https://plus.google.com/+U2iKrakow/posts')
            img(height='50', src='http://www.u2i.com/images/gp-icon-1b53af64.png')
          a(href='https://www.linkedin.com/company/u2i')
            img(height='50' src='http://www.u2i.com/images/li-icon-ebea50f6.png')
          a(href='https://www.youtube.com/channel/UC59UaSQnX0qMuofHy_plF-Q')
            img(height='50', src='http://www.u2i.com/images/yt-icon-d837aa25.png')
        .copyright © 2015 u2i LLC. All rights reserved.
