border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

center-block()
  display block
  margin-left auto
  margin-right auto
  
box-shadow()
  -webkit-box-shadow arguments
  box-shadow arguments
  
retina(_background-image, _background-size)
  @media screen and (-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)
    background url(_background-image) no-repeat
    background-size _background-size

$green = #3a9240
$grey = #eee

.clear
  clear both

body
  font-family "Montserrat"
  font-weight 400
  font-size 14px
  background-color white

header
  position relative
  background #4f8a20 url("/images/noise-e1e99bdf.png")
  text-shadow 1px 1px 1px #254722
  height 100px
  margin-bottom 40px
  color #fff

  .wrapper
    width 960px
    margin auto
    text-align right

    .logo
      margin 0
      padding 0
      border 0

      a
        float left
        height 61px
        padding: 20px 20px

    nav
      margin-left 20px

      a
        display inline-block
        padding 0 20px
        color #fff
        line-height 100px
        text-decoration none

footer
  position relative
  background #254722
  text-shadow 1px 1px 1px #254722
  color #fff
  padding 30px 0
  margin-top 40px

  .wrapper
    width 960px
    margin auto
    text-align center
    font-size 0.8em

    a
      margin 0 5px

    .copyright
      padding-top 1em

.usersList
  margin 10px 0

.userPhoto
  border-radius 50%
  border 5px #5F8D39 solid
  width 96px
  height 96px

  > div
    height 96px
    display table
    float left
    text-align center

  .userName
    display table-cell
    vertical-align: middle
    font-family Arial

  .recentAchievement img
    width 64px
    height 64px
    margin-top 16px

  .achievementCount
    display table-cell
    vertical-align: middle

.userDetails
  width 80%
  center-block()

  .achievementImage
    float left
    margin-right 15px

  .achievementDetails
    float left

    .description
      font-size 14px

  .achievement
    clear both
    border-radius 5px
    margin 10px 0
    padding 10px
    background-color #fff
    border 2px #254722 solid

    img
      width 64px
      height 64px

  .userHeader
    border-radius 5px
    background-color #fff
    border 3px #254722 solid
    text-align center
    font-size 35px
    padding 10px 0
    font-family Arial

    img
      margin-right 25px

  .locked
    opacity 0.5
    cursor pointer


.container-light
  background-color $grey 
  
  .title
    color $green
  
.container-dark
  background-color $green
  color $grey
  
  .title
    color $grey

.container-light,
.container-dark
  position relative
  padding 15px
  
  .title
    text-align center
    text-transform capitalize
    font-size 22px
    line-height 24px
    text-shadow 1px 1px 1px #254722
    padding 5px 0
    
  
  .corners
    width 25px
    height 15px
    position: absolute
    z-index 99
    background url('../images/corners.png') no-repeat
    retina('../images/corners@2x.png', 12px 27px)

    &.corner-top
      background-position: right top
      top 0
      right 0
    &.corner-bottom
      background-position left bottom
      bottom 0
      left 0
      
.profile
  
  .profile-image-container
    width 156px
    height 180px
    overflow hidden
    margin 0 auto
    position relative
  
    .profile-image-mask
      position absolute
      top 0
      
    .profile-image
      position absolute
      
.achievement
  
  .achievement-icon-container
    width 156px
    height 180px
    overflow hidden
    margin 0 auto

    .radial-progress
      position relative
      z-index 10
      margin-left -21px

    .achievement-bg
      position absolute
      z-index 20
      top 0
      
    .achievement-icon
      position absolute
      top 50px
      left 55px
      z-index 30
    
.achievements-list
  // padding 10px 15px
  margin 10px auto 20px

  .achievement-small
    position relative
    display block
    float: left
    margin-right 10px
    margin-bottom -4px
    opacity .7
    
    &.enabled
      opacity 1
      .icon
        opacity 1
    
    .icon
      position absolute
      top 14px
      left 11px
      opacity 0.3  




